.details{

  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 20px;

}

.trend{
   color: #ffffff;
   font-size: large;


}

.see{
  color: var(--color-accent);
  background-color: none;
  border: 0;
  padding: 0;
}

.movie-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr) ;
  gap: 5px;
}

 /* display: flex;
    flex-direction: row;
    scrollbar-width: none;
    overflow: scroll;
    gap: 5px;
} */
